* {
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  height: 400px;
  border: solid 1px;
  margin: 50px auto;
}

.container .nav {
  width: 100%;
  height: 100px;
  display: flex;
}

.container .nav span {
  flex: 1;
  line-height: 100px;
  text-align: center;
}

.container .nav span.active {
  background-color: red;
  color: #fff;
}

.container .content {
  width: 100%;
  height: 300px;
  display: flex;
}

.container .content dl {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .content dl dd {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
}

.container .content dl dd img {
  width: 100%;
  height: 100%;
}
