<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        姓名：<input type="text" v-model.lazy.trim="parmas.name"><br>
        年龄：<input type="text" v-model="parmas.age"><br>
        性别：<input type="radio" name="sexs" v-model="parmas.sex" value="男">男
        <input type="radio" name="sexs" v-model="parmas.sex" value="女">女 <br>
                地区：<select name="" id="">
                    <option value="请选择" disabled selected>请选择</option>
                <option value="" v-for="item in parmas.address">{{item}}</option>
        </select><br>
        爱好：<label v-for="(item,index) in parmas.hobby" :for=`aa${index}`>
            <input type="checkbox" :id=`aa${index}` v-model="parmas.xuan" :value=item>{{item}}
        </label><br>
        详细信息：<textarea name="" id="" cols="30" rows="10" v-model="parmas.tet">
            {{parmas.tet}}
        </textarea>

        <h5>{{parmas}}</h5>

    </div>
    <script src="./vue.js"></script>
    <script>

        const vm = new Vue({
            el: "#app",
            data: {
                parmas: {
                    name: "张三",
                    age: 18,
                    sex: "女",
                    tet: "我是文本域的内容",
                    address: ['北京', '上海', '广州'],
                    hobby: ['篮球', '唱红歌', '吃'],
                    xuan:[]
                }
            },
            beforeCreate(){
                console.log(this.$el,this.$data,"beforeCreate")
                console.log(this,"beforeCreate")
            },
            created(){
                
                console.log(this.$data,this.$el,"created")
                console.log(this,"created")
            },beforeMount() {
                
                console.log(this.$data,this.$el,"beforeMount")
                console.log(this,"beforeMount")
            },
        })

    </script>
</body>

</html>